# Web Scraping Military Bases from Wikipedia

### Set up

In [1]:
import requests
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
executable_path = {'executable_path': '../chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### Get list of countries with overseas military bases

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_with_overseas_military_bases"
countries = []
browser.visit(url)
soup = bs(browser.html, 'html.parser')

country = []
for span in soup.find_all('span',class_='flagicon'):
    country.append(span.parent.parent.find_previous('h2').find_next('span').text)
    
country.pop()
country

['Australia',
 'Australia',
 'China',
 'China',
 'China',
 'China',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'Germany',
 'Germany',
 'Germany',
 'Greece',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Iran',
 'Iran',
 'Iran',
 'Iran',
 'Israel',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Japan',
 'Pakistan',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Singapore',
 'Singapore',
 'Singapore',
 'Singapore',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States']

### Get list of countries where the bases are located

In [3]:
base = []
for i in range(1,18):
    list_of_lis = soup.find_all('span', class_='mw-headline')[i].parent.find_next('ul').find_all('li')
    for li in list_of_lis:
        base.append(li.next.find_next('a').text)

base.pop(56)
base.append('Tunisia')
base.append('Turkey')
base.append('United Arab Emirates')
base.append('United Kingdom')
base[56] = 'Qatar'
base.insert(57,'Somalia')
base.insert(58,'Syria')

base

['Malaysia',
 'United Arab Emirates',
 'Afghanistan',
 'Cambodia',
 'Djibouti',
 'Tajikistan',
 'Chad',
 'Djibouti',
 'Gabon',
 'Germany',
 'Ivory Coast',
 'Lebanon',
 'Niger',
 'Senegal',
 'Syria',
 'United Arab Emirates',
 'France',
 'United States',
 'Canada',
 'Cyprus',
 'Bhutan',
 'Maldives',
 'Madagascar',
 'Mauritius',
 'Nepal',
 'Seychelles',
 'Tajikistan',
 'Syria',
 'Eritrea',
 'Iraq',
 'Lebanon',
 'Eritrea',
 'United Arab Emirates',
 'Djibouti',
 'Afghanistan',
 'Kuwait',
 'Libya',
 'United States',
 'Djibouti',
 'Saudi Arabia',
 'Armenia',
 'Belarus',
 'Georgia',
 'Kazakhstan',
 'Kyrgyzstan',
 'Moldova',
 'Syria',
 'Tajikistan',
 'Ukraine',
 'Australia',
 'France',
 'New Zealand',
 'United States',
 'Azerbaijan',
 'Northern Cyprus',
 'Iraq',
 'Qatar',
 'Somalia',
 'Syria',
 'Eritrea',
 'Libya',
 'Somaliland',
 'Yemen',
 'Bahrain',
 'Belize',
 'Brunei',
 'Canada',
 'Republic of Cyprus',
 'Germany',
 'Kenya',
 'Nepal',
 'Norway',
 'Singapore',
 'Qatar',
 'Oman',
 'United Arab Emirates',
 'United States',
 'Afghanistan',
 'Australia',
 'Bahrain',
 'Belgium',
 'Brazil',
 'British Indian Ocean Territory',
 'Bulgaria',
 'Cuba',
 'Cameroon',
 'Cura√ßao',
 'Djibouti',
 'Germany',
 'Greece',
 'Greenland',
 'Honduras',
 'Iceland',
 'Iraq',
 'Israel',
 'Italy',
 'Japan',
 'Kosovo',
 'Kuwait',
 'Netherlands',
 'Niger',
 'Norway',
 'Oman',
 'Philippines',
 'Portugal',
 'Qatar',
 'Saudi Arabia',
 'Singapore',
 'South Korea',
 'Spain',
 'Syria',
 'Tunisia',
 'Turkey',
 'United Arab Emirates',
 'United Kingdom']

### Make a dataframe of two scraped lists

In [4]:
military_base_df = pd.DataFrame(list(zip(country,base)),columns=['Country','Overseas Base'])
military_base_df.head()

     Country         Overseas Base
0  Australia              Malaysia
1  Australia  United Arab Emirates
2      China           Afghanistan
3      China              Cambodia
4      China              Djibouti

### Check the count of overseas bases for each country for correctness

In [5]:
military_base_df.groupby('Country').nunique().head()

           Country  Overseas Base
Country
Australia        1              2
China            1              4
France           1             10
Germany          1              3
Greece           1              1