In [8]:
import requests
import pandas as pd

from splinter import Browser
from bs4 import BeautifulSoup as bs

In [9]:
executable_path = {'executable_path': '/Users/tamaranajjar/Documents/BOOTCAMP/NUCHI201905DATA2/12-Web-Scraping-and-Document-Databases/Homework/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url = "https://en.wikipedia.org/wiki/List_of_countries_with_overseas_military_bases"
countries = []
browser.visit(url)
soup = bs(browser.html, 'html.parser')

In [11]:
country = []
for span in soup.find_all('span',class_='flagicon'):
    country.append(span.parent.parent.find_previous('h2').find_next('span').text)

In [12]:
base = []
for i in range(1,18):
    list_of_lis = soup.find_all('span', class_='mw-headline')[i].parent.find_next('ul').find_all('li')
    for li in list_of_lis:
        base.append(li.next.find_next('a').text)

In [13]:
country.pop()
base.pop(56)

'[46]'

In [14]:
base.append('Tunisia')
base.append('Turkey')
base.append('United Arab Emirates')
base.append('United Kingdom')
base[56] = 'Qatar'
base.insert(57,'Somalia')
base.insert(58,'Syria')

military_base_df = pd.DataFrame(list(zip(country,base)),columns=['Country','Overseas Base'])
military_base_df

           Country         Overseas Base
0        Australia              Malaysia
1        Australia  United Arab Emirates
2            China           Afghanistan
3            China              Cambodia
4            China              Djibouti
..             ...                   ...
110  United States                 Syria
111  United States               Tunisia
112  United States                Turkey
113  United States  United Arab Emirates
114  United States        United Kingdom

[115 rows x 2 columns]

In [15]:
military_base_df.groupby('Country').nunique()

                      Country  Overseas Base
Country
Australia                   1              2
China                       1              4
France                      1             10
Germany                     1              3
Greece                      1              1
India                       1              7
Iran                        1              4
Israel                      1              1
Italy                       1              6
Japan                       1              1
Pakistan                    1              1
Russia                      1              9
Singapore                   1              4
Turkey                      1              6
United Arab Emirates        1              4
United Kingdom              1             14
United States               1             38

In [16]:
military_base_df.to_csv('military_bases.csv')